{% extends "layout.html" %}

{% block content %}
<div class="section">
    <!-- container -->
    
    <div style="height: 650px; padding-left: 50px;" class="container">
        <h3>1. Што е  DIGISTORE? 
        </h3>
        <h4><b><a href="{{ url_for('home') }}">DIGISTORE</a></b> е дигитална online продавница 
            на која секој корисник може да го постави својот дигитале продукт и да го продаде/сподели.</h4>
        <br>
        <h3>2. Дали е потребно да сте корисник?</h3>
        <h4>За да разгледување на продавницата не е потребно да сте корисник, но доколку сакате
            да купите или да продадете нешто, во тој случај мора да сте корисник.
        </h4>
        <br>
        <h3>3. Кој ја поставува цената?</h3>
        <h4>Цената на секој производ ја одредува тој што ја поставува.</h4>
        <br>
        <h3>4. Што е тоа 3% за <b><a href="{{ url_for('home') }}">DIGISTORE</a></b></h3>
        <h4>При секоја трансакција на цената на производот, ние додаваме уште 3% кои одат за продавницата.
            Со тие сретства ние ја одржуваме продавницата и додаваме новости.
        </h4>
        <br>
        <h3>5. Која е полисата на поврат?</h3>
        <h4>Бидејќи <b><a href="{{ url_for('home') }}">DIGISTORE</a></b> е целосно дигитална продавница,
        што значи дека производите се дигитални и се спуштаат на уредот од корисникот, единствениот начин за
        поврат е да го контактирате тој што го поставил производот за замена или поврат на парите. </h4>
    </div>
</div>
{% endblock content %}